/*.login-with-background-image {
    background-image: url("../../../src/main/resources/META-INF/resources/images/Community.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    height: 500px;
}

.login-with-background-image vaadin-login-form {
    align-items: center;
    display: flex;
    max-width: 300px;
}

.login-with-background-image vaadin-login-form-wrapper {
    background-image: none;
}